__pycache__/
.spyproject/
.DS_Store
**/__pycache__/
.DS_Store
.DS_Store
/build
/HZ_evolution.egg-info
/HZ_evolution/outputs/*.txt
/HZ_evolution/outputs/*.csv
/HZ_evolution/outputs/*.pkl

Notebooks/.ipynb_checkpoints/Kepler62f_example-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Intro_to_HZ_evolution-checkpoint.ipynb
